{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load jalali_filters %}
{% load fa_numbers %}

{% block content %}
  <h3 class="my-3">📊 لیست تراکنش‌های جناب:</h3>
  <h3>{{ account.full_name }}</h3>
  <a href="{% url 'home:regitertransaction' account.id 're' %}" class="btn btn-success my-3">درآمد</a>
  <a href="{% url 'home:regitertransaction' account.id 'ex' %}" class="btn btn-warning my-3">هزینه</a>
  {% if transactions %}
    <table class="table table-bordered table-striped table_hovere fs-5">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>نوع</th>
          <th>مبلغ</th>
          <th>تاریخ</th>
          <th>دسته‌بندی</th>
          <th>توضیحات</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.id }}</td>
            <td class="{% if transaction.type == 'RE' %}
                
                
                
            text-dark



              {% else %}
                
                
                
            text-danger



              {% endif %}">{{ transaction.get_type_display }}</td>
            <td class="{% if transaction.type == 'RE' %}
                
                
                
            text-dark



              {% else %}
                
                
                
            text-danger



              {% endif %}">
              {{ transaction.amount|intcomma|fa_digits }}
              {% if transaction.type == 'RE' %}
                +
              {% else %}
                -
              {% endif %}
            </td>
            <td>{{ transaction.date|jalali|fa_digits }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.description|default:'-' }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6" class="text-center">هیچ تراکنشی ثبت نشده است.</td>
          </tr>
        {% endfor %}
        <tr class="table-info">
          <td colspan="2" class="text-end fw-bold">مانده حساب</td>
          {% if summary < 0 %}
          <td  colspan="4" dir="ltr" class="text-end text-danger"> {{ summary|intcomma|fa_digits }} </td>
          {%else %}
          <td  colspan="4" dir="ltr" class="text-end text-dark"> {{ summary|intcomma|fa_digits }} </td>

          {% endif %}
        </tr>
      </tbody>
    </table> 
    <nav aria-label="صفحه‌بندی">
  <ul class="pagination justify-content-center">

    {% if transactions.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?q={{ query }}&page={{ transactions.previous_page_number }}" aria-label="قبلی">
          <span aria-hidden="true">&laquo;</span>
          <span class="visually-hidden">قبلی</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
      </li>
    {% endif %}

    <li class="page-item active">
      <span class="page-link">صفحه {{ transactions.number }} از {{ transactions.paginator.num_pages }}</span>
    </li>

    {% if transactions.has_next %}
      <li class="page-item">
        <a class="page-link" href="?q={{ query }}&page={{ transactions.next_page_number }}" aria-label="بعدی">
          <span aria-hidden="true">&raquo;</span>
          <span class="visually-hidden">بعدی</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>
    {% endif %}

  </ul>
</nav>


  {% else %}
    <h2 class="text-center mb-4">تراکنشی وجود ندارد!</h2>
  {% endif %}
{% endblock %}
