{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load jalali_filters %}
{% load fa_numbers %}

{% block content %}
  <div class="container mt-5">
    <h4>آیا مطمئن هستید که می‌خواهید  تراکنش زیر را حذف کنید را حذف کنید؟</h4>
    <table class="table table-bordered table-striped table_hovere fs-5">
  <thead class="table-dark">
    <tr>
      <th>حساب</th>
      <th>نوع</th>
      <th>مبلغ</th>
      <th>تاریخ</th>
      <th>دسته‌بندی</th>
      <th>توضیحات</th>
    </tr>
  </thead>
  <tbody>
   
    <tr>
      <td>{{ transaction.account.full_name }}</td>
      <td class="{% if transaction.type == 'RE' %}
            text-dark
            {% else %}
            text-danger
            {% endif %}">{{ transaction.get_type_display }}</td>
      <td class="{% if transaction.type == 'RE' %}
            text-dark
            {% else %}
            text-danger
            {% endif %}">
        {{ transaction.amount |intcomma|fa_digits }}
        {% if transaction.type == 'RE' %}
        +
        {% else %}
        -
        {% endif %}
      </td>
      <td>{{ transaction.date |jalali |fa_digits}}</td>
      <td>{{ transaction.category }}</td>
      <td>{{ transaction.description|default:'-' }}</td>
    </tr>


  </tbody>
</table>


    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">حذف</button>
      <a href="{% url 'home:accounttransactions' account.id %}" class="btn btn-secondary">انصراف</a>
    </form>
  </div>
{% endblock %}
